<mat-card>
	<mat-card-title>
		Create order
	</mat-card-title>

	<mat-card-content>
		<mat-horizontal-stepper linear="true" editable="true">
			<!--order step-->
			<mat-step [stepControl]="editForm.orderFormGroup">
				<ng-template matStepLabel>Order</ng-template>
				<ng-container *ngTemplateOutlet="orderStep"></ng-container>

				<div>
					<button mat-raised-button matStepperNext class="float-right" color="primary">Next</button>
				</div>
			</mat-step>

			<!--cargo step-->
			<mat-step [stepControl]="editForm.cargoFormGroup">
				<ng-template matStepLabel>Cargo</ng-template>
				<ng-container *ngTemplateOutlet="cargoStep"></ng-container>

				<div>
					<button mat-raised-button matStepperPrevious class="float-left" color="primary">Back</button>
					<button mat-raised-button matStepperNext class="float-right" color="primary">Next</button>
				</div>
			</mat-step>

			<!--done-->
			<mat-step>
				<ng-template matStepLabel>Done</ng-template>
				<ng-container *ngTemplateOutlet="doneStep"></ng-container>

				<div>
					<button mat-raised-button matStepperPrevious class="float-left" color="primary">Back</button>
					<button mat-raised-button class="float-right" color="primary" (click)="saveOrder()">Confirm</button>
				</div>
			</mat-step>

		</mat-horizontal-stepper>
	</mat-card-content>
</mat-card>

<!--steps-->

<ng-template #orderStep>

	<form [formGroup]="editForm.orderFormGroup">

		<mat-form-field appearance="outline">
			<mat-label>Description</mat-label>
			<textarea #autosize="cdkTextareaAutosize"
								matInput
								cdkTextareaAutosize
								cdkAutosizeMinRows="1"
								cdkAutosizeMaxRows="5"
								formControlName="description"
								tabindex="1">
			</textarea>
		</mat-form-field>

		<mat-grid-list cols="2" rowHeight="5:1">

			<mat-grid-tile>
				<span>
					Sender location
				</span>
			</mat-grid-tile>

			<mat-grid-tile>
				<span>
					Reciever location
				</span>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-form-field appearance="outline">
					<mat-label>City</mat-label>
					<input matInput formControlName="senderCity" required tabindex="2">
				</mat-form-field>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-form-field appearance="outline">
					<mat-label>City</mat-label>
					<input matInput formControlName="revieverCity" required tabindex="4">
				</mat-form-field>
			</mat-grid-tile>


			<mat-grid-tile>
				<mat-form-field appearance="outline">
					<mat-label>Street</mat-label>
					<input matInput formControlName="senderStreet" required tabindex="3">
				</mat-form-field>
			</mat-grid-tile>

			<mat-grid-tile>
				<mat-form-field appearance="outline">
					<mat-label>Street</mat-label>
					<input matInput formControlName="revieverStreet" required tabindex="5">
				</mat-form-field>
			</mat-grid-tile>

		</mat-grid-list>
	</form>

</ng-template>

<ng-template #cargoStep>
	<form [formGroup]="editForm.cargoFormGroup">

		<button mat-raised-button color="primary" class="add-cargo" (click)="addNewCargo()">Add cargo</button>

		<ng-container *ngFor="let cargo of editForm.cargos.controls; let i = index" formArrayName="cargos">
			<mat-grid-list class="cargo" cols="33" rowHeight="100px">

				<ng-container [formArrayName]="i">
					<mat-grid-tile colspan="10">
						<mat-form-field appearance="outline">
							<mat-label>Width</mat-label>
							<input matInput type="number" required id="'width' + i" formControlName="width">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile colspan="10">
						<mat-form-field appearance="outline">
							<mat-label>Height</mat-label>
							<input matInput type="number" required id="'height' + i" formControlName="height">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile colspan="10">
						<mat-form-field appearance="outline">
							<mat-label>Length</mat-label>
							<input matInput type="number" required id="'length' + i" formControlName="length">
						</mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile colspan="3">
						<button mat-stroked-button color="primary" (click)="deleteCargo(i)">
							<mat-icon>clear</mat-icon>
						</button>
					</mat-grid-tile>
				</ng-container>

			</mat-grid-list>
		</ng-container>
	</form>
</ng-template>

<ng-template #doneStep>
	<h1>Do you want to confirm order?</h1>
</ng-template>
